In [69]:
import pandas as pd
import numpy as np

In [70]:
def preprocess_conversation_columns(df):
	# remove all special characters from df
	df.columns = df.columns.str.replace('[^A-Za-z0-9_]', '', regex=True)
	
	# If data is grouped by batch/round, add a conversation num
	if {'batch_num', 'round_num'}.issubset(df.columns):
		df['conversation_num'] = df.groupby(['batch_num', 'round_num']).ngroup()
		df = df[df.columns.tolist()[-1:] + df.columns.tolist()[0:-1]] # make the new column first

	return(df)

In [71]:
csop = preprocess_conversation_columns(pd.read_csv('../data/raw_data/csopII_conversations_withblanks.csv'))
vect = pd.read_csv('../embeddings/csopII_conversations_withblanks.csv')

In [72]:
from get_all_DD_features import *

In [73]:
csop['message_embedding'] = conv_to_float_arr(vect['message_embedding'].to_frame())

In [74]:
get_DD(csop)
# nanp = csop.loc[csop['conversation_num'] == '28LFTFoBTha9WeCxT']
# hi = np.mean(nanp['message_embedding'])
# pairs = get_unique_pairwise_combos(hi)
# np.nanmean(pairs)

      conversation_num  discursive_diversity
0    25PJSrbtr8mkHTvcw              0.841638
1    28LFTFoBTha9WeCxT                   NaN
2    28coGosspMQZSSsKK                   NaN
3    2GyDrExReibZDZbHK                   NaN
4    2PHmsZkuyuXMZcv7s                   NaN
..                 ...                   ...
476  zRx7pqdbWDwduoYuM              0.746014
477  zXofkTp388eu67YxF              0.524080
478  zdBGjnPDQBJoyZqjh              0.801704
479  zoijP9Z4yNJ8sRgZq                   NaN
480  zwtfREfmLE7LzyW7n              0.749704

[481 rows x 2 columns]

In [75]:
csop.loc[csop['conversation_num'] == '25PJSrbtr8mkHTvcw']

,conversation_num,batch_num,vis_img,int_verb,ort_img,rep_man,soc_pers,team_size,difficulty,score,duration,efficiency,speaker_nickname,message,timestamp,message_embedding
727,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,NiBqtamR7LYPByEoz,I think the next combination above 500 that wo...,2021-03-19T18:20:28.277Z,"[0.0190779697149992, -0.010986153967678547, -0..."
728,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,NiBqtamR7LYPByEoz,I think 504 would still be ok?,2021-03-19T18:22:33.265Z,"[-0.02542596124112606, 0.08265342563390732, -0..."
729,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,NiBqtamR7LYPByEoz,604-100,2021-03-19T18:22:41.278Z,"[-0.03982061892747879, 0.08185563236474991, -0..."
730,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,hF7iWkQvsomPnXY7S,sure,2021-03-19T18:22:50.937Z,"[-0.1395024061203003, -0.03979051858186722, -0..."
3099,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Hard [Corresponds to 'Super Hard' in PNAS],729.0,179.0,4.072626,NULL_SPEAKER,NaN,NULL_TIME,"[-0.0642978772521019, -0.028240203857421875, 0..."

In [84]:
csop_chunked = assign_chunk_nums(csop, 5)
csop_chunked

,conversation_num,batch_num,vis_img,int_verb,ort_img,rep_man,soc_pers,team_size,difficulty,score,duration,efficiency,speaker_nickname,message,timestamp,message_embedding,chunk_num
727,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,NiBqtamR7LYPByEoz,I think the next combination above 500 that wo...,2021-03-19T18:20:28.277Z,"[0.0190779697149992, -0.010986153967678547, -0...",0
728,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,NiBqtamR7LYPByEoz,I think 504 would still be ok?,2021-03-19T18:22:33.265Z,"[-0.02542596124112606, 0.08265342563390732, -0...",1
729,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,NiBqtamR7LYPByEoz,604-100,2021-03-19T18:22:41.278Z,"[-0.03982061892747879, 0.08185563236474991, -0...",2
730,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,hF7iWkQvsomPnXY7S,sure,2021-03-19T18:22:50.937Z,"[-0.1395024061203003, -0.03979051858186722, -0...",3
3099,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Hard [Corresponds to 'Super Hard' in PNAS],729.0,179.0,4.072626,NULL_SPEAKER,NaN,NULL_TIME,"[-0.0642978772521019, -0.028240203857421875, 0...",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,zwtfREfmLE7LzyW7n,1,High,Mixed,Mixed,Mixed,High,4,Easy [Corresponds to 'Hard' in PNAS],537.0,294.0,1.826531,ttp99Mg4k27H4G4g2,you have ruined it all,2021-03-11T18:33:02.259Z,"[-0.014426716603338718, 0.14449119567871094, 0...",2
254,zwtfREfmLE7LzyW7n,1,High,Mixed,Mixed,Mixed,High,4,Easy [Corresponds to 'Hard' in PNAS],537.0,294.0,1.826531,eiZmgSepzvcWzXZnq,IT WAS FINE BEFORE,2021-03-11T18:33:11.705Z,"[-0.026309503242373466, -0.029762502759695053,...",2
255,zwtfREfmLE7LzyW7n,1,High,Mixed,Mixed,Mixed,High,4,Easy [Corresponds to 'Hard' in PNAS],537.0,294.0,1.826531,eiZmgSepzvcWzXZnq,AB HAVE TO BE NEIGHBORS,2021-03-11T18:33:26.463Z,"[0.022271981462836266, -0.0574793741106987, -0...",3
256,zwtfREfmLE7LzyW7n,1,High,Mixed,Mixed,Mixed,High,4,Easy [Corresponds to 'Hard' in PNAS],537.0,294.0,1.826531,ReHqydvhHuWfF9wbc,can we please put it back,2021-03-11T18:33:29.370Z,"[-0.053512245416641235, 0.0669332817196846, 0....",3
2666,zwtfREfmLE7LzyW7n,1,High,Mixed,Mixed,Mixed,High,4,Hard [Corresponds to 'Super Hard' in PNAS],812.0,132.0,6.151515,NULL_SPEAKER,NaN,NULL_TIME,"[-0.0642978772521019, -0.028240203857421875, 0...",4

In [77]:
conv = csop_chunked.loc[csop_chunked['conversation_num'] == '25PJSrbtr8mkHTvcw']

In [78]:
saving = conv.groupby(['chunk_num'])['message_embedding'].apply(get_unique_pairwise_combos).reset_index()
# lst = saving['message_embedding'][0]
cos_dists_mean_widay_btwu = []

for lst in saving.message_embedding:

    # Make sure list isn't empty:
    if lst:
        # Store the cosine distances for the person's list of tuples
        cos_dists = []
        for tpl in lst:
            try:
                cos_d = 1 - get_cosine_similarity([tpl[0], tpl[1]])
                cos_dists.append(cos_d)
            except ValueError as e:
                # Occurs when np.nan in tuple
                pass

        # Compute mean of cos dists
        cos_dists_mean_widay_btwu.append(np.nanmean(cos_dists, dtype="float64"))
    else:
        cos_dists_mean_widay_btwu.append(np.nan)
cos_dists_mean_widay_btwu

[0.5788579683150291, 0.6963057582555213, nan]

In [79]:
conv = csop_chunked.loc[(csop_chunked['conversation_num'] == '25PJSrbtr8mkHTvcw') & (csop_chunked['chunk_num'] == '0')]
conv

,conversation_num,batch_num,vis_img,int_verb,ort_img,rep_man,soc_pers,team_size,difficulty,score,duration,efficiency,speaker_nickname,message,timestamp,message_embedding,chunk_num
727,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,NiBqtamR7LYPByEoz,I think the next combination above 500 that wo...,2021-03-19T18:20:28.277Z,"[0.0190779697149992, -0.010986153967678547, -0...",0
728,25PJSrbtr8mkHTvcw,1,Mixed,High,Low,High,Mixed,2,Easy [Corresponds to 'Hard' in PNAS],604.0,559.0,1.080501,NiBqtamR7LYPByEoz,I think 504 would still be ok?,2021-03-19T18:22:33.265Z,"[-0.02542596124112606, 0.08265342563390732, -0...",0

In [80]:
csop_chunked.groupby(['conversation_num', 'chunk_num']).apply(get_DD)

                                conversation_num  discursive_diversity
conversation_num  chunk_num
25PJSrbtr8mkHTvcw 0         0  25PJSrbtr8mkHTvcw                   NaN
                  1         0  25PJSrbtr8mkHTvcw              0.696306
                  2         0  25PJSrbtr8mkHTvcw                   NaN
28LFTFoBTha9WeCxT 0         0  28LFTFoBTha9WeCxT                   NaN
                  1         0  28LFTFoBTha9WeCxT                   NaN
...                                          ...                   ...
zoijP9Z4yNJ8sRgZq 0         0  zoijP9Z4yNJ8sRgZq                   NaN
                  1         0  zoijP9Z4yNJ8sRgZq                   NaN
zwtfREfmLE7LzyW7n 0         0  zwtfREfmLE7LzyW7n              0.704767
                  1         0  zwtfREfmLE7LzyW7n              0.496674
                  2         0  zwtfREfmLE7LzyW7n              0.916253

[1194 rows x 2 columns]

In [81]:
get_variance_in_DD(csop_chunked)

      conversation_num  variance_in_DD
0    25PJSrbtr8mkHTvcw        0.696306
1    28LFTFoBTha9WeCxT             NaN
2    28coGosspMQZSSsKK             NaN
3    2GyDrExReibZDZbHK             NaN
4    2PHmsZkuyuXMZcv7s             NaN
..                 ...             ...
476  zRx7pqdbWDwduoYuM        0.782127
477  zXofkTp388eu67YxF        0.644710
478  zdBGjnPDQBJoyZqjh        0.835775
479  zoijP9Z4yNJ8sRgZq             NaN
480  zwtfREfmLE7LzyW7n        0.705898

[481 rows x 2 columns]

In [82]:
# num_chunks = 3
# inter_chunk_range = [ [] for i in range(num_chunks - 1)]

# index = []
# for i in range(num_chunks - 1):
#     index.append("c" + str(i) + "_c" + str(i + 1))
# index
# pd.DataFrame(inter_chunk_range, index=index).T

get_within_person_disc_range(csop_chunked)

KeyError: 'mean_chunk_vec_c3'