In [3]:
# import basic_features 
import pandas as pd
import itertools
import sys 
import os, glob
import re

[nltk_data] Downloading package punkt to /Users/agshruti/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [2]:
sys.path.append('/Users/xehu/Desktop/Team Process Map/team-process-map/feature_engine/')

In [3]:
print(sys.path)

['/Users/xehu/Desktop/Team Process Map/team-process-map/feature_engine/ipython_notebooks', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python39.zip', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/lib-dynload', '', '/Users/xehu/Library/Python/3.9/lib/python/site-packages', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/smile_and_nod-0.0.1-py3.9.egg', '/Users/xehu/Library/Python/3.9/lib/python/site-packages/IPython/extensions', '/Users/xehu/.ipython', '/Users/xehu/Desktop/Team Process Map/team-process-map/feature_engine/']

In [4]:
from features.basic_features import *
from features.gini_coefficient import *
from features.lexical_features import *

In [5]:
print(sys.path)

['/Users/xehu/Desktop/Team Process Map/team-process-map/feature_engine/ipython_notebooks', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python39.zip', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/lib-dynload', '', '/Users/xehu/Library/Python/3.9/lib/python/site-packages', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages', '/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/smile_and_nod-0.0.1-py3.9.egg', '/Users/xehu/Library/Python/3.9/lib/python/site-packages/IPython/extensions', '/Users/xehu/.ipython', '/Users/xehu/Desktop/Team Process Map/team-process-map/feature_engine/']

In [6]:
# test file
INPUT_FILE_PATH = '../output/jury_output_chat_level.csv'
conversation_data = pd.read_csv(INPUT_FILE_PATH)

conversation_data

,Unnamed: 0,batch_num,round_num,speaker_hash,speaker_nickname,timestamp,message,majority_pct,num_votes,num_words,num_chars,info_exchange_wordcount,zscore_chats,achievement,adverbs
0,0,0,0,5e7e1e0031f4e454e196c30b,niceRhino,2020-04-20T18:27:20.125Z,Hello!,1.000000,3,1,7,1,-1.213277,0,0
1,1,0,0,5e31d6e4e31c5304c46f1413,culturedCow,2020-04-20T18:27:23.764Z,Hi!,1.000000,3,1,3,1,-1.213277,0,0
2,2,0,0,5e7e4f4c31f4e454e196c9c4,spryBison,2020-04-20T18:27:27.724Z,Hello,1.000000,3,1,5,1,-1.213277,0,0
3,3,0,0,5d482ea421c9be351f762255,youngLion,2020-04-20T18:27:30.410Z,Hi,1.000000,3,1,2,1,-1.213277,0,0
4,4,0,0,5e84cc3c50f6e364321d6265,smallGiraffe,2020-04-20T18:27:35.506Z,hi,1.000000,3,1,2,1,-1.213277,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15302,15302,177,3,5f1f466846a7f03dda9b37c3,eagerElephant,2020-07-28T22:36:22.226Z,I think he is the asshole,0.666667,3,6,25,5,-0.799468,0,0
15303,15303,177,3,5f1a214246a7f03dda9a6aad,inspiredGiraffe,2020-07-28T22:36:46.155Z,He didn't vent to them or take up frustrations...,0.666667,3,17,90,17,0.441958,0,0
15304,15304,177,3,5f2096dab0aafc741f6865bb,inquisitiveBison,2020-07-28T22:36:49.238Z,very interested,0.666667,3,2,15,2,-1.109825,0,0
15305,15305,177,3,5f1f472646a7f03dda9b3895,excitedDolphin,2020-07-28T22:36:51.487Z,"I'm fine with venting on Reddit, I just don't ...",0.666667,3,20,115,19,0.648862,0,1
15306,15306,177,3,5f1f466846a7f03dda9b37c3,eagerElephant,2020-07-28T22:36:56.051Z,I changed my mind because they may not be able...,0.666667,3,14,68,12,-0.075303,1,0

In [7]:
average_word_count(conversation_data)

      batch_num  round_num  average_word_count
0             0          0          107.125000
8             0          2          109.833333
14            1          0           67.000000
21            1          3           86.600000
26            2          2          132.800000
...         ...        ...                 ...
2339        175          3           74.571429
2346        176          0           34.166667
2352        176          3           30.666667
2358        177          2           86.166667
2364        177          3          107.000000

[356 rows x 3 columns]

In [8]:
get_gini(conversation_data, "num_words")

     batch_num  round_num  gini_coefficient_num_words
0            0          0                    0.158256
1            0          2                    0.125695
2            1          0                    0.220530
3            1          3                    0.261432
4            2          2                    0.112651
..         ...        ...                         ...
351        175          3                    0.317460
352        176          0                    0.363415
353        176          3                    0.326087
354        177          2                    0.146035
355        177          3                    0.223261

[356 rows x 3 columns]

In [9]:
least_talkative_member_message_count(conversation_data)

      batch_num  round_num  least_talkative_member_message_count
0             0          0                                     1
8             0          2                                     3
14            1          0                                     3
21            1          3                                     3
26            2          2                                     9
...         ...        ...                                   ...
2339        175          3                                     5
2346        176          0                                     6
2352        176          3                                     5
2358        177          2                                     6
2364        177          3                                     6

[356 rows x 3 columns]